<div class="jumbotron">
	<h1>Players</h1>
</div>
<a ng-href="#/add-player">Add New Player</a>
<div class="row">

    <div class="col-sm-6">
        <div ng-repeat="team in teams">
		    <h2>{{team.name}}</h2>        
		    <ul class="list-group">
		        <li ng-repeat="player in players | filter:team.name" ng-class="{'not-playing': player.wordcup == 'no'}" class="list-group-item">
		            {{ player.name | revName }} <br />
		            {{player.salary | number}} per annum <br />
		            Playing in World Cup 2016 
		            <span class="btn btn-primary">{{player.wordcup | uppercase}}</span>
		        </li>
		    </ul>
		</div>
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
    </div>

</div> 